@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><strong>Welcome To Code Visualizer</strong></h1>
    <p>This websites purpose is to help programmer and non-programmers visualize what is happening beind the scenes of the most popular search algorithims</p>
</div>
