@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<header>
    <style>h1{text-align: center;}</style>
    
    <h1>About Code Visualizer</h1>
   


</header>
<body>
    <p>Hi, my name is Devon Ross and I'm the 22-year-old self taught programmer that made this website. My goal for this site is to bridge the gap between people that know how to code and people who don't. I created this site because I had trouble communicating to the people
        in my life what exactly I was doing when I was learning about algorithms, data structures, and time/space complexity.</p>
    <p>This is my first full website, as time goes on and I learn new things I want to continue to add to it and use it as the culmination of all of my programming knowledge. </p>
    <p>Code Visualizer was created by Devon Ross with Visual Studio 2022 MVC, chart.JS, C#, html, and maybe some css. At the beginning of this website, the only language I was competent in was C#, I'm hoping by the end of this project I will have a 
        substantial pool of knowledge on the afformentioned languages/tools.
    </p>
</body>